.Tasks {
	min-width: 10vw;
	max-width: 30vw;
	background-color: blueviolet;
	flex-wrap: wrap;
	margin: auto;
	border-radius: 20px;
	padding: 1%;
}
h1 {
	color: antiquewhite;
  font-style: italic;
  font-weight: bold;
}
