li{
	list-style-type: none;
	display: block;
}
a{
	text-decoration: none;
}
nav {
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: gray;
	border-radius: 5px;
}
nav .logo{
	font-size: large;
	font-weight: 700;
	text-transform: uppercase;
}
nav .nav-links {
	display: flex;
	justify-content: space-around;
	width: 30%;
}
nav .nav-links a {
	color: black;
	font-size: larger;
	font-weight: normal;
	cursor: pointer;
	display: block;
	padding: 5%;
}
nav .nav-links a:hover{
	border-bottom: 1px solid white;
	background-color: lightblue;
}
