body{
  background-color: aqua;
  
}
.App{
  background-color: blueviolet;
  min-height: 30vh;
  min-width: 10vw;
  max-width: 30vw;
  margin: 10vh auto;
  border-radius: 20px;
  padding-bottom: 1vh;

}
#to-do-form{
  margin: 1px;

}
#to-do-form input{
  background-color: aquamarine;
  border: 0;
  width: 18vw;
  padding: 1vh;
  margin: 2vh 1vw 2vh 1vw;

  border-radius: 10px;
  color: blue;
}
#to-do-form input::placeholder{
  color: red;
}
#to-do-form input:focus{
  outline : none;
}
#to-do-form button{
  height: 4vh;
  width: 3 vw;
  border-radius: 10px;
  border: 0;
  background-color: #4C64FD;
  margin: 1 vh;
  cursor: pointer;
  font-weight: bold;
  color: black;
}
#to-do-form button:focus{
  outline: none;
}