.to-do-wrapper {
	outline-style: no;
}
.to-do-form {
	outline: none;
}
.to-do-form input {
	background-color: aquamarine;
	border: 0;
	width: 18vw;
	margin-right: 5%;
	border-radius: 10px;
	color: blue;
}
.to-do-form input::placeholder {
	color: red;
}
.to-do-form input:focus {
	outline: none;
}
.addTaskBtn {
	outline: none;
	height: 4vh;
	width: 3 vw;
	border-radius: 10px;
	border: 0;
	background-color: rgb(4, 49, 246);
	margin: 1 vh;
	cursor: pointer;
	font-weight: bold;
	color: black;
}
.addTaskBtn:hover {
	outline: none;
	background-color: rgb(1, 100, 255);
}
.addTaskBtn:active {
	outline: none;
	background-color: rgb(100, 100, 255)
}
